[Unit]
Description=Consumer Electronics Control Interpreter
After=network.target

[Service]
ExecStart=/home/bruce/Test/tvcec -log /home/bruce/Test/tvcec.log
WorkingDirectory=/home/bruce/Test
StandardOutput=inherit
StandardError=inherit
Restart=always
User=bruce

[Install]
WantedBy=multi-user.target

